.App {
  text-align: center;
}

body {
  text-align: center;
  background-color: #ccbbb1;
}

.beerlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.clickable-li {
  display: flex;
  flex-direction: column; /* Display beer name below the image */
  align-items: center; /* Center items horizontally */
  margin-bottom: 20px; /* Optional spacing between items */
  font-size: 1.5rem;
  text-decoration: none;
  list-style-type: none;
  width: calc(33.33% - 10px);
  padding-top: 100px;

}

.beer-image {
  max-height: 25rem;
  max-width: 20rem;
}
