.App {
  text-align: center;
}

body {
  text-align: center;
  background-color: #ccbbb1;
}

.beerlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.clickable-li {
  display: flex;
  flex-direction: column; /* Display beer name below the image */
  align-items: center; /* Center items horizontally */
  margin-bottom: 20px; /* Optional spacing between items */
  font-size: 1.5rem;
  text-decoration: none;
  list-style-type: none;
  width: calc(33.33% - 10px);
  padding-top: 100px;

}

.beer-image {
  max-height: 25rem;
  max-width: 20rem;
}

/* Modal overlay styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Modal overlay styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content box styles */
.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

/* Close button styles */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  font-size: 16px;
  color: #333;
  outline: none;
}

/* Other styles for the content inside the modal can be added here */
